/07-terraform-05-teamuse-khayrullin/src/.terraform/modules/test-vm/
/.idea/.gitignore
/07-terraform-03-functions-khayrullin/src/.gitignore
/07-terraform-04-metods-khayrullin/src/.gitignore
/07-terraform-02-main-khayrullin/src/.terraform.lock.hcl
/07-terraform-05-teamuse-khayrullin/src/.terraform.lock.hcl
/07-terraform-02-main-khayrullin/src/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.87.0/linux_amd64/CHANGELOG.md
/07-terraform-05-teamuse-khayrullin/src/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.88.0/linux_amd64/CHANGELOG.md
/07-terraform-05-teamuse-khayrullin/src/.terraform/modules/db
/.idea/deployment.xml
/.idea/devops-netology.iml
/07-terraform-02-main-khayrullin/src/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.87.0/linux_amd64/LICENSE
/07-terraform-05-teamuse-khayrullin/src/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.88.0/linux_amd64/LICENSE
/.idea/misc.xml
/07-terraform-05-teamuse-khayrullin/src/.terraform/modules/modules.json
/.idea/modules.xml
/07-terraform-05-teamuse-khayrullin/src/.terraform/modules/mysql
/07-terraform-02-main-khayrullin/src/personal.auto.tfvars
/07-terraform-05-teamuse-khayrullin/src/personal.auto.tfvars
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/07-terraform-02-main-khayrullin/src/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.87.0/linux_amd64/README.md
/07-terraform-02-main-khayrullin/src/terraform.tfstate
/07-terraform-05-teamuse-khayrullin/src/terraform.tfstate
/07-terraform-05-teamuse-khayrullin/src/terraform.tfstate.1680847965.backup
/07-terraform-02-main-khayrullin/src/terraform.tfstate.backup
/07-terraform-05-teamuse-khayrullin/src/terraform.tfstate.backup
/07-terraform-05-teamuse-khayrullin/src/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.1/linux_amd64/terraform-provider-null_v3.2.1_x5
/07-terraform-05-teamuse-khayrullin/src/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/linux_amd64/terraform-provider-template_v2.2.0_x4
/07-terraform-05-teamuse-khayrullin/src/.terraform/providers/registry.terraform.io/hashicorp/vault/3.14.0/linux_amd64/terraform-provider-vault_v3.14.0_x5
/07-terraform-02-main-khayrullin/src/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.87.0/linux_amd64/terraform-provider-yandex_v0.87.0
/07-terraform-05-teamuse-khayrullin/src/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.88.0/linux_amd64/terraform-provider-yandex_v0.88.0
/.idea/vcs.xml
/07-terraform-05-teamuse-khayrullin/src/.terraform/modules/vpc_module
